<header class="masthead">
  <a class="masthead-logo" href="{{ site.url }}" title="Home">
    <svg class="masthead-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 50 50" xml:space="preserve">
      <path d="M18,20h17c2.8,0,5,2.2,5,5v9"/>
      <polyline class="st0" points="22.3,15.7 18,20 22.3,24.3"/>
      <path d="M32,38H15c-2.8,0-5-2.2-5-5v-9"/>
      <polyline points="27.7,42.3 32,38 27.7,33.7"/>
      <rect x="2" y="2" width="46" height="46"/>
      <line x1="2" y1="10" x2="48" y2="10"/>
      <line x1="45" y1="6" x2="43" y2="6"/>
      <line x1="41" y1="6" x2="39" y2="6"/>
      <line x1="37" y1="6" x2="35" y2="6"/>
      <line x1="30" y1="6" x2="6" y2="6"/>
    </svg>
    <span class="masthead-mark">{{ site.title }}</span>
  </a>

  <nav class="masthead-navigation">
    <a href="/blog">Blog</a>
    <a href="https://github.com/webreload/webreload">Repository</a>
  </nav>
</header>

